.transactionHistory {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/* рядки */
.transactionHistory tr {
  display: flex;
  width: 600px;
}

/* ячейки */
.transactionHistory th,
.transactionHistory td {
  display: flex;
  justify-content: center;
  width: 200px;
  max-width: 200px;
  padding: 8px 0;

  font-size: 18px;
  border: 1px solid #eee;
}

.transactionHistory th {
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 33, 103, 0.9);
}

.transactionHistory tr:nth-child(2n) {
  background: rgba(33, 33, 103, 0.3);
}
